{% extends "index.html" %}
{% block content %}
<style>
    .hero{background-color: aqua;}
    h2{text-align: center;
    }
    .trr{text-align: center;
    background-color: rgb(218, 132, 20);}

</style>
<main>
    <section class="hero">
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci voluptatibus odio minima inventore quae. Voluptatibus velit consectetur quaerat consequatur veritatis excepturi voluptas, sequi non nulla repellendus. Earum labore tempore libero?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
    </section>
    <section class="features">
        <h2>Features</h2>
        <ul class="trr">
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
        </ul>
    </section>
</main>

{% endblock content %}
